[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/nextcloud/3rdparty.git
[submodule "apps/cdsp"]
	path = apps/cdsp
	url = https://github.com/aafc-lli/cdsp.git
[submodule "apps/auto_groups"]
	path = apps/auto_groups
	url = https://github.com/stjosh/autogroups
[submodule "apps/activity"]
	path = apps/activity
	url = https://github.com/nextcloud/activity.git
[submodule "apps/announcementcenter"]
	path = apps/announcementcenter
	url = https://github.com/nextcloud/announcementcenter.git
[submodule "themes/cdsp-theme"]
	path = themes/cdsp-theme
	url = https://github.com/aafc-lli/cdsp-theme
[submodule "apps/notifications"]
	path = apps/notifications
	url = https://github.com/nextcloud/notifications.git
[submodule "apps/user_saml"]
	path = apps/user_saml
	url = https://github.com/aafc-lli/cdsp-saml
[submodule "apps/group_everyone"]
	path = apps/group_everyone
	url = https://github.com/icewind1991/group_everyone.git
